<span>Client Activity Calls Last 90 Days</span><br />
<table>
<tr>
  <td>
    <calls-table model="attachmentListViewed" title="AttachmentListViewed"></calls-table>
  </td>
  <td>
    <metrics-graph title="Attachment List Viewed" dataset="Viewed" model="attachmentListViewed" id="graph1"></metrics-graph>
  </td>
</tr>
<tr>
  <td>
    <calls-table model="attachmentViewed" title="AttachmentViewed"></calls-table>
  </td>
  <td>
    <metrics-graph title="Attachment Viewed" dataset="Viewed" model="attachmentViewed" id="graph2"></metrics-graph>
  </td>
</tr>
</table>
