<span>Usage by App & OS Version</span> <br />
<br />
<span>iOS Devices</span>
<table class="table table-striped table-bordered table-hover table-compressed">
  <tr>
    <td>App Name</td>
    <td>App Version</td>
    <td>iOS Version</td>
    <td>Calls</td>
  </tr>
  <tr ng-repeat="r in results.ios">
    <td>{{r.NAME1}}</td>
    <td>{{r.NAME2}}</td>
    <td>{{r.NAME3}}</td>
    <td>{{r.VALUE}}</td>
  </tr>
</table>
<br />
<span>Android Devices</span>
<table class="table table-striped table-bordered table-hover table-compressed">
  <tr>
    <td>App Name</td>
    <td>App Version</td>
    <td>Android Version</td>
    <td>Calls</td>
  </tr>
  <tr ng-repeat="r in results.android">
    <td>{{r.NAME1}}</td>
    <td>{{r.NAME2}}</td>
    <td>{{r.NAME3}}</td>
    <td>{{r.VALUE}}</td>
  </tr>
</table>
<br />
<span>Other Devices</span>
<table class="table table-striped table-bordered table-hover table-compressed">
  <tr>
    <td>App Name</td>
    <td>App Version</td>
    <td>OS Version</td>
    <td>Calls</td>
  </tr>
  <tr ng-repeat="r in results.other">
    <td>{{r.NAME1}}</td>
    <td>{{r.NAME2}}</td>
    <td>{{r.NAME3}}</td>
    <td>{{r.VALUE}}</td>
  </tr>
</table>
